.cartes{
  margin-right: auto;
  margin-left: auto;
  width: 1439px;
  height: 816px;

  display: flex;
  flex-flow: row wrap;
}
.carte{
  max-width: 352px;
  max-height: 367px;

  background: #FFFFFF;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  img{
    width: 151px;
    height: 151px;

  }
  p{
    padding: 0;
  }
  h3{
    padding: 0;
  }
}